table {
  border-collapse: collapse;
}

th,
td {
  padding: 0.3em;
  border: 1px solid silver;
}

.visible {
  display: none;
}

#vaccine-day-chart-div {
  width: 80%;
}

#score-chart-div {
  width: 80%;
}

#category-chart-div {
  width: 80%;
}

#doughnut-category-chart-div {
  width: 40%;
}
